<tiu-menu>
  <button tiuHelpButton="/help/day-edit"></button>
</tiu-menu>
<div>
  <h1>{{ date | date:'longDate' }}</h1>
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label>Absence</label>
      <div class="button-list">
        <tiu-check-button [active]="absence == 0" (change-active)="absence = 0">0</tiu-check-button>
        <tiu-check-button [active]="absence == 0.5" (change-active)="absence = 0.5">&#x00bd;</tiu-check-button>
        <tiu-check-button [active]="absence == 1" (change-active)="absence = 1">1</tiu-check-button>
        <input type="text" readonly="readonly" value="{{absenceHours() | tiuDuration}} / {{absenceHours() | tiuHours}}" class="number" size="10">
      </div>
    </div>
    <div class="form-group">
      <label for="monthEditEntry.comment">Comment</label>
      <div class="input-group">
        <input id="monthEditEntry.comment" type="text" formControlName="comment" autocomplete="off">
        <button type="button" [disabled]="!canSaveComment" (click)="saveComment()" class="yellow"><span class="fas fa-check"></span></button>
      </div>
    </div>
  </form>
  <tiu-record-list [year]="year()" [month]="month()" [day]="day()"></tiu-record-list>
  <div class="button-list center">
    <button type="button" routerLink="../../../.." class="button">Back</button>
  </div>
</div>
