<h2>Tasks</h2>
<form [formGroup]="formGroup">
  <div class="input-group">
    <input type="text" formControlName="name">
    <button type="button" (click)="addTask()" [disabled]="!canAddTask" class="green"><span class="fas fa-plus"></span></button>
  </div>
</form>
<table>
  @for(task of tasks; track task) {
    <tr>
      <td class="single-line">
        <button type="button" (click)="editTask(task)" class="button yellow multiline">{{task}}</button>
      </td>
      <td class="single-line right">
        <div class="button-list inline">
          <tiu-favorite-button (change-favorite)="setFavorite(task)"  [enabled]="canUseAsFavorite(task)" [favorite]="isFavorite(task)" error="Only active tasks can be favored."></tiu-favorite-button>
          <tiu-active-button (change-active)="setActive(task, $event)" [active]="isActive(task)"></tiu-active-button>
          <button type="button" (click)="removeTask(task)" [disabled]="!canRemoveTask(task)" tiuButtonError="Task is in use and cannot be deleted." class="button red"><span class="fas fa-trash-can"></span></button>
        </div>
      </td>
    </tr>
  }
</table>
