<tiu-menu>
    <button tiuHelpButton="/help/day-record"></button>
</tiu-menu>
<div>
    <form [formGroup]="formGroup">
        <div class="form-group">
            <label>Project</label>
            <tiu-select-project [project-control]="projectControl"></tiu-select-project>
        </div>
        <div class="form-group">
            <label>Task</label>
            <tiu-select-task [project-control]="projectControl" [task-control]="taskControl"></tiu-select-task>
        </div>
        <div class="form-group">
            <label>Start</label>
            <tiu-time-edit [hour]="startHourCtrl" [minute]="startMinuteCtrl" [forwards]="false" [align-enabled]="canAlignBackwards" (align)="alignBackwards()"></tiu-time-edit>
        </div>
        @if(hasEnd) {
            <div class="form-group">
                <label>End</label>
                <tiu-time-edit [hour]="endHourCtrl" [minute]="endMinuteCtrl" [forwards]="true" [align-enabled]="canAlignForwards" (align)="alignForwards()"></tiu-time-edit>
            </div>
            <div class="form-group">
                <label>Duration</label>
                <input type="text" readonly="readonly" value="{{durationHours | tiuDuration}} / {{durationHours | tiuHours}}" size="8" class="number">
            </div>
        }
    </form>
    <div class="button-list">
        <button type="button" (click)="save()" [disabled]="!canSave" class="button green">Save</button>
        <button type="button" (click)="navigateToParent()" class="button">Cancel</button>
    </div>
</div>
