<div (click)="onClick()" class="backdrop"></div>
<div class="frame">
    <div class="button-list vertical">
        <button type="button" (click)="split()" class="button yellow">Split record into two</button>
        <button type="button" (click)="joinWithPrevious()" class="button yellow">Join with previous record</button>
        <button type="button" (click)="remove()" class="button red">Delete record</button>
        <button type="button" (click)="hide()" class="button">Back</button>
    </div>
</div>