<tiu-menu>
  <button tiuHelpButton="/help/projects"></button>
</tiu-menu>
<div>
  <h1>Projects</h1>
  <form [formGroup]="formGroup">
    <div class="input-group">
      <input type="text" formControlName="name">
      <button type="button" (click)="addProject()" [disabled]="!canAddProject" class="yellow"><span class="fas fa-plus"></span></button>
    </div>
  </form>
  <table>
    @for(p of projects$ | async; track p.name) {
      <tr>
        <td class="single-line">
          <button type="button" (click)="editProject(p.name)" class="button yellow multiline">{{p.name}}</button>
        </td>
        <td class="single-line right">
          <div class="button-list inline">
            <tiu-favorite-button (change-favorite)="setFavorite(p.name)" [favorite]="p.favorite"></tiu-favorite-button>
            <tiu-active-button (change-active)="setActive(p.name, $event)" [active]="p.active"></tiu-active-button>
            <button type="button" (click)="removeProject(p.name)" class="button red"><span class="fas fa-trash-can"></span></button>
          </div>
        </td>
      </tr>
    }
  </table>
</div>
