<tiu-menu>
  <button tiuHelpButton="/help/projects"></button>
</tiu-menu>
<div>
  <h1>Projects</h1>
  <form [formGroup]="formGroup">
    <div class="input-group">
      <input type="text" formControlName="name">
      <button type="button" (click)="addProject()" [disabled]="!canAddProject" class="yellow"><span class="fas fa-plus"></span></button>
    </div>
  </form>
  <table>
    @for(p of projects; track p) {
      <tr>
        <td class="single-line">
          <button type="button" (click)="editProject(p)" class="button yellow multiline">{{p}}</button>
        </td>
        <td class="single-line right">
          <div class="button-list inline">
            <tiu-favorite-button (change-favorite)="setFavorite(p)" [enabled]="canUseAsFavorite(p)" [favorite]="isFavorite(p)" error="Only active projects with tasks can be favored."></tiu-favorite-button>
            <tiu-active-button (change-active)="setActive(p, $event)" [active]="isActive(p)"></tiu-active-button>
            <button type="button" (click)="removeProject(p)" [disabled]="!canRemoveProject(p)" tiuButtonError="Project is in use and cannot be deleted." class="button red"><span class="fas fa-trash-can"></span></button>
          </div>
        </td>
      </tr>
    }
  </table>
</div>
