@import "../../style/shared";

:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background-color: $bg-color-4;
}

.menu-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: $spacing-1;

  button, a {
    @include menu-button();
  }
}

.dropdown {
  z-index: 100;
  visibility: hidden;
  position: absolute;
  border: 1px solid $border-color-frame;
  border-radius: $border-radius-1;
  box-shadow: $box-shadow-frame;
  padding: $spacing-2 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $bg-color-5;

  &.visible {
    visibility: visible;
  }

  a {
    padding: $spacing-2 $spacing-3;
    text-decoration: none;
    color: $color-1;
    background-color: $bg-color-5;

    &:hover {
      background-color: $bg-color-4;
    }

    &.active {
      color: $color-green-3;
    }
  }
}
