<div class="menu-group">
  <a routerLink="/overview" routerLinkActive="active"><span class="fas fa-stopwatch"></span>&nbsp;Time is up</a>
  <a routerLink="/day" routerLinkActive="active"><span class="fas fa-calendar-day"></span></a>
  <a routerLink="/month" routerLinkActive="active"><span class="fas fa-calendar-days"></span></a>
</div>
<div class="menu-group">
  <ng-content></ng-content>
</div>
<div class="menu-group">
  <button #menuButton type="button" (click)="toggleMenu()" [ngClass]="{active: dropDownVisible}"><span class="fas fa-bars"></span></button>
</div>
<div #dropDown class="dropdown" [ngClass]="{visible: dropDownVisible}" style="left: {{dropDownPosition.x}}px; top: {{dropDownPosition.y}}px">
  <a routerLink="/projects" routerLinkActive="active">Projects</a>
  <a routerLink="/settings" routerLinkActive="active">Settings</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
</div>
