<tiu-menu>
    <button tiuHelpButton="/help/day"></button>
</tiu-menu>
<div>
    <form [formGroup]="formGroup">
        @if(canStart) {
            <div class="form-group">
                <label>Project</label>
                <tiu-select-project [project-control]="projectControl"></tiu-select-project>
            </div>
            <div class="form-group">
                <label>Task</label>
                <tiu-select-task [project-control]="projectControl" [task-control]="taskControl"></tiu-select-task>
            </div>
        } @else {
            <p class="error">There is no selectible task to start with. Please configure a <a routerLink="/projects">project</a> with tasks first.</p>
        }
        <div class="button-list center">
            <button type="button" (click)="start()" [disabled]="!canStart" tiuButtonError="Please select a task before start recording." class="button large green" [ngClass]="{blink: isRecording()}">
                <span class="fas fa-play"></span>
            </button>
            <button type="button" (click)="stop()" [disabled]="!isRecording()" tiuButtonError="There is no active recording." class="button large red">
                <span class="fas fa-stop"></span>
            </button>
        </div>
        <div class="form-group">
            <label for="dayRecording.comment">Comment</label>
            <div class="input-group">
                <input id="dayRecording.comment" type="text" formControlName="comment" autocomplete="off">
                <button type="button" (click)="saveComment()" [disabled]="!canSaveComment" class="green">
                    <span class="fas fa-check"></span>
                </button>
            </div>
        </div>
    </form>
    <div class="form">
        <div class="form-2-columns">
            <div class="form-group">
                <label>Worked</label>
                <input type="text" readonly="readonly" value="{{workingHours() | tiuDuration}} / {{workingHours() | tiuHours}}" size="8" class="number">
            </div>
            <div class="form-group">
                <label>Paused</label>
                <input type="text" readonly="readonly" value="{{pauseHours() | tiuDuration}} / {{pauseHours() | tiuHours}}" size="8" class="number">
            </div>
        </div>
    </div>
    <h2>Log</h2>
    <tiu-record-list [year]="year()" [month]="month()" [day]="day()"></tiu-record-list>
</div>
