<tiu-menu />
<div>
    <h1>Overview</h1>
    @if(currentlyWorking()) {
        <p>You are currently working on task <em>{{currentTask()}}</em> of project <em>{{currentProject()}}</em>.</p>
    }
    <button type="button" routerLink="/day" class="button stretch blue center">Go to recording</button>
    <button type="button" routerLink="/month" class="button stretch blue center">View the month overview</button>
    <button type="button" routerLink="/overtime" class="button stretch blue center">You've got&nbsp;<em>{{overhours() | tiuHours}}</em>&nbsp;of overtime</button>
    <button type="button" routerLink="/settings" class="button stretch blue center">Change the working times settings</button>
    <button type="button" routerLink="/projects" class="button stretch blue center">Configure a project</button>
</div>
