<tiu-menu />
<div>
    <h1>Overview</h1>
    @if(currentlyWorking()) {
        <p>You are currently working on task <em>{{currentTask()}}</em> of project <em>{{currentProject()}}</em>.</p>
    }
    <p><a routerLink="/day">Go to recording</a></p>
    <p><a routerLink="/month">View the month overview</a></p>
    <p>You have got <em>{{overhours() | tiuHours}}</em> of <a routerLink="/overtime">overtime</a> in total.</p>
    <p><a routerLink="/settings">Change the working times settings</a></p>
    <p><a routerLink="/projects">Configure a project</a></p>
</div>
