<table>
    <thead>
        <tr>
            <th><b>Project</b><br>Task</th>
            <th>Start<br>End</th>
            <th colspan="3">Duration</th>
        </tr>
    </thead>
    <tbody>
        @for(item of items; track item.index) {
            <tr [ngClass]="{blink: item.isActive, green: item.valid && !item.isActive, red: !item.valid && !item.isActive}" class="small">
                <td class="single-line">
                    <button type="button" (click)="edit(item.index)" class="button yellow small multiline">
                        <b>{{item.project}}</b>
                        <span>{{item.task}}</span>
                    </button>
                </td>
                <td class="single-line">
                    <span [ngClass]="{invalid: !item.startValid}">{{item.start | date:'HH:mm'}}</span>
                    <br>
                    <span [ngClass]="{invalid: !item.endValid}">{{item.end | date:'HH:mm'}}</span>
                </td>
                <td class="single-line" [ngClass]="{invalid: !item.durationValid}">
                    <span>{{item.durationHours | tiuDuration}}</span>
                    <br>
                    <span>{{item.durationHours | tiuHours}}</span>
                </td>
                <td class="single-line right">
                    <div class="button-list inline">
                        <button type="button" (click)="showContextMenu(item.index)" class="button yellow">
                            <span class="fas fa-bars"></span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<tiu-day-recording-context-menu></tiu-day-recording-context-menu>
