$fg-1: #000000;
$fg-error: #e00000;
$fg-green-3: #009000;
$fg-red-3: #c00000;

$input: #0080e0;
$input-bg: #ffffff;

$bg-1: #808080;
$bg-2: #c0c0c0;
$bg-3: #e0e0e0;
$bg-4: #f0f0f0;
$bg-5: #fcfcfc;

$bg-red: #ff8080;
$bg-yellow: #ffe080;
$bg-green: #80e080;
$bg-blue: #80c0ff;

$bg-error: #fff0f0;

$bg-red-4: #ffe0e0;
$bg-yellow-4: #fff8d8;
$bg-green-4: #e0ffe0;

$border-frame: #c0c0c0;
