@use "./color";
@use "./font";

$spacing-table: 0.33em;

table {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    border-collapse: collapse;
}

th {
    text-align: left;
    font-weight: 500;
}

th.number,
td.number,
th.right,
td.right {
    text-align: right;
}

th,
td {
    padding: $spacing-table;
    vertical-align: top;

    &.single-line {
        vertical-align: middle;
    }
}

@keyframes row-active-blink {
    from {
        background-color: color.$bg-yellow-4;
    }

    49% {
        background-color: color.$bg-yellow-4;
    }

    50% {
        background-color: color.$bg-green-4;
    }

    to {
        background-color: color.$bg-green-4;
    }
}

tr {
    &.yellow {
        background-color: color.$bg-yellow-4;
    }

    &.green {
        background-color: color.$bg-green-4;
    }

    &.red {
        background-color: color.$bg-red-4;
    }

    &.blink {
        animation-name: row-active-blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

tr:nth-child(n + 2),
tbody tr {
    td,
    th {
        border-top: 1px dashed color.$border-frame;
    }
}

tr.small td,
tr.small th,
td.small,
th.small {
    @include font.default(-3);
}
