@use "../../../style/box-shadow";
@use "../../../style/color";
@use "../../../style/button";
@use "../../../style/spacing";

:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background-color: color.$bg-4;
}

.menu-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: spacing.m(-10);

  button, a {
    @include button.menu();
  }
}

.dropdown {
  @include box-shadow.default();
  z-index: 100;
  visibility: hidden;
  position: absolute;
  border: 1px solid color.$border-frame;
  border-radius: spacing.x(-5);
  padding: spacing.m(-5) 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: color.$bg-5;

  &.visible {
    visibility: visible;
  }

  a {
    padding: spacing.m(-2.5) spacing.m();
    text-decoration: none;
    color: color.$fg-1;
    background-color: color.$bg-5;

    &:hover {
      background-color: color.$bg-4;
    }

    &.active {
      color: color.$fg-green-3;
    }
  }
}
