<tiu-menu>
  <button type="button" routerLink="help" class="menu-button" routerLinkActive="active"><span class="fas fa-circle-question"></span></button>
</tiu-menu>
<div>
  <h1>{{project}}</h1>
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label for="project.name">Name</label>
      <input id="project.name" type="text" formControlName="name">
    </div>
    <div class="form-group">
      <label><input type="checkbox" formControlName="active" class="yellow">Active</label>
    </div>
  </form>
  <div class="button-list">
    <button type="button" (click)="save()" [disabled]="!canSave" class="button green">Save</button>
    <button type="button" (click)="reset()" [disabled]="!canReset" class="button red">Reset</button>
    <button type="button" routerLink=".." class="button">Back</button>
  </div>
  <tiu-tasks></tiu-tasks>
</div>
