@use "style/button";
@use "style/color";
@use "style/font";
@use "style/form";
@use "style/table";
@use "style/text-elements";

html {
  height: 100%;
}

body {
  @include font.default();
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: color.$bg-5;
  user-select: none;
}