@import "style/shared";

html {
  height: 100%;
}

body {
  @include font();
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $bg-color-5;
  user-select: none;
}

button {
  @include button();
}

@keyframes button-active-blink {
  from {
    background-color: $bg-color-5;
  }

  49% {
    background-color: $bg-color-5;
  }

  50% {
    background-color: $bg-color-green;
  }

  to {
    background-color: $bg-color-green;
  }
}

button.button {
  border: 2px solid $bg-color-3;
  border-radius: $border-radius-2;
  padding: $spacing-1 $spacing-2;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-1;
  background-color: $bg-color-3;

  &.large {
    @include font(1.4);
  }

  &.green {
    background-color: $bg-color-green;
    border-color: $bg-color-green;
  }

  &.red {
    background-color: $bg-color-red;
    border-color: $bg-color-red;
  }

  &.yellow {
    background-color: $bg-color-yellow;
    border-color: $bg-color-yellow;
  }

  &.blue {
    background-color: $bg-color-blue;
    border-color: $bg-color-blue;
  }

  &.blink {
    animation-name: button-active-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  &.multiline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }
}

button.check {
  border: 2px solid $color-1;
  border-radius: $border-radius-2;
  padding: $spacing-1 $spacing-2;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-1;
  background-color: $bg-color-5;

  &.active {
    background-color: $color-1;
    color: $bg-color-5;
  }

  &.green {
    color: $bg-color-green;
    border-color: $bg-color-green;

    &.active {
      background-color: $bg-color-green;
      color: $color-1;
    }
  }

  &.red {
    color: $bg-color-red;
    border-color: $bg-color-red;

    &.active {
      background-color: $bg-color-red;
      color: $color-1;
    }
  }

  &.yellow {
    color: $bg-color-yellow;
    border-color: $bg-color-yellow;

    &.active {
      background-color: $bg-color-yellow;
      color: $color-1;
    }
  }

  &.blue {
    color: $bg-color-blue;
    border-color: $bg-color-blue;

    &.active {
      background-color: $bg-color-blue;
      color: $color-1;
    }
  }
}

button.menu-button {
  @include menu-button();
}

.button-list {
  @include button-list();
}

input[type="text"],
input[type="number"] {
  @include input();
  border: 1px solid $border-color-frame;
  border-radius: $border-radius-2;
  padding: $spacing-1 $spacing-2;
  color: $color-1;

  &:focus {
    color: $input-color;
    border-color: $input-color;
  }

  &[readonly] {
    color: $color-1;
    background-color: $bg-color-4;
  }
}

input[type="number"],
input.number {
  text-align: end;
  appearance: textfield;

  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    appearance: none;
  }
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  margin: 0;
  margin-right: $spacing-2;
}

input[type="checkbox"] {
  @include font(0.8);
  appearance: none;
  width: 1.5em;
  border: 2px solid $color-1;
  border-radius: $border-radius-2;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 6 Free";
  background-color: $bg-color-5;
  color: $color-1;

  &:checked {
    color: $bg-color-5;
    background-color: $color-1;
  }

  &::after {
    content: "\f00d";
  }

  &:checked::after {
    content: "\f00c";
  }

  &.yellow {
    border-color: $bg-color-yellow;
    color: $bg-color-yellow;

    &:checked {
      color: $color-1;
      background-color: $bg-color-yellow;
    }
  }
}

select {
  @include input();
  border: 1px solid $border-color-frame;
  border-radius: $border-radius-2;
  padding: $spacing-1;
}

label {
  @include font();
  font-weight: 300;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

optgroup {
  @include font(1);
}

option {
  @include font(1);

  &.favorite {
    font-weight: bold;
  }
}

.input-group {
  @include input-group;
}

form,
.form {
  @include form();
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input,
  select,
  .input-group {
    align-self: stretch;
  }
}

.form-2-columns {
  display: grid;
  grid-template-columns: auto auto;
  gap: $spacing-2;
  justify-items: stretch;
  align-items: start;
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 1;
}

h1 {
  @include font(1.6);
  margin: $spacing-1 0;
}

h2 {
  @include font(1.3);
  margin: 0;
}

table {
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: 500;
}

th.number,
td.number,
th.right,
td.right {
  text-align: right;
}

th,
td {
  padding: $spacing-2 $spacing-2;
  vertical-align: top;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &.single-line {
    vertical-align: middle;
  }
}

@keyframes row-active-blink {
  from {
    background-color: $bg-color-yellow-4;
  }

  49% {
    background-color: $bg-color-yellow-4;
  }

  50% {
    background-color: $bg-color-green-4;
  }

  to {
    background-color: $bg-color-green-4;
  }
}

tr {
  &.yellow {
    background-color: $bg-color-yellow-4;
  }

  &.green {
    background-color: $bg-color-green-4;
  }

  &.blink {
    animation-name: row-active-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

tr:nth-child(n + 2),
tbody tr {
  td,
  th {
    border-top: 1px dashed $border-color-frame;
  }
}

tr.small td,
tr.small th,
td.small,
th.small,
button.small {
  @include font(0.7);
}

p {
  margin: 0;
  text-align: justify;

  &.small {
    @include font(0.7);
  }

  &.error {
    color: $color-error;
  }
}

a {
  color: inherit;
}
