@use "../../../style/box-shadow";
@use "../../../style/color";
@use "../../../style/font";
@use "../../../style/spacing";

:host {
  @include font.default(-2);
  @include box-shadow.default();
  position: relative;
  border: 4px solid black;
  border-radius: spacing.x();
  padding: spacing.m();
  color: color.$fg-1;
  background-color: color.$bg-5;
  text-align: justify;
  pointer-events: all;
  opacity: 0;
  transform: scaleY(0);

  transition: opacity 400ms, transform 400ms;
  transition-timing-function: ease-in-out;

  &.error {
    border-color: color.$bg-red;
  }

  &.info {
    border-color: color.$bg-green;
  }

  &.visible {
    opacity: 1;
    transform: scaleY(1);
    transition: opacity 400ms, transform 400ms;
    transition-timing-function: ease-in-out;
  }
}
