<button type="button" (click)="onChangeHourBy(-1)" class="yellow">-</button>
<input #hour type="number" min="0" max="23" size="2" [value]="hourValue" (change)="onChangeHour(hour.value)">
<button type="button" (click)="onChangeHourBy(1)" class="yellow">+</button>
<span>:</span>
<button type="button" (click)="onChangeMinuteBy(-1)" class="yellow">-</button>
<input #minute type="number" min="0" max="59" size="2" [value]="minuteValue" (change)="onChangeMinute(minute.value)">
<button type="button" (click)="onChangeMinuteBy(1)" class="yellow">+</button>
<span></span>
<button type="button" (click)="onAlign()" [disabled]="!alignEnabled" class="yellow">
  <span class="fas fa-backward-step" [ngClass]="{'fa-backward-step': !forwards, 'fa-forward-step': forwards}"></span>
</button>
