<tiu-menu>
  <button tiuHelpButton="/help/settings"></button>
</tiu-menu>
<div>
  <h1>Settings</h1>
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label>Maximum hours per day</label>
      <tiu-number-input [formGroup]="formGroup" name="maxHoursPerDay" [min]="1" [max]="24" unit="h"></tiu-number-input>
    </div>
    <div class="form-group">
      <label>Hours per week (100 %)</label>
      <tiu-number-input [formGroup]="formGroup" name="hoursPerWeek" [min]="1" [max]="168" unit="h"></tiu-number-input>
    </div>
    <div class="form-group">
      <label>Pensum</label>
      <tiu-number-input [formGroup]="formGroup" name="pensum" [min]="1" [max]="100" [step]="10" unit="%"></tiu-number-input>
    </div>
    <div class="form-group">
      <label>Working days</label>
      <div class="button-list">
        @for(day of daysOfWeek; let i = $index; track i) {
          <tiu-check-button [active]="isDayOfWeekActive(i)" (change-active)="setDayOfWeekActive(i, $event)">{{day}}</tiu-check-button>
        }
      </div>
    </div>
    <div class="form-group">
      <label for="settings.hoursPerDay">Hours per day</label>
      <input id="settings.hoursPerDay" type="text" readonly="readonly" value="{{hoursPerDay | number:'1.0-2'}}" class="number">
    </div>
    <div class="form-group">
      <label>Current overtime</label>
      <tiu-number-input [formGroup]="formGroup" name="currentOvertime" unit="h"></tiu-number-input>
    </div>
  </form>
  <p class="error">{{error}}</p>
  <div class="button-list">
    <button type="button" (click)="save()" [disabled]="!canSave" class="button green">Save</button>
    <button type="button" (click)="reset()" [disabled]="!canReset" class="button red">Reset</button>
    <button tiuBackButton></button>
  </div>
</div>
